.video-card {
  background-color: $gray-700;
  color: white;
  height: auto;
  padding: 0 20px;
  width: 300px;
}

.video-card__image {
  background-position: center;
  background-size: cover;
  clip-path: inset(24px 0px);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.video-card__text {
  color: white;
  font-size: 12px;
}

.pagination-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.pagination-nav__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.page-item__link {
  color: white;
}

.page-item__link:hover {
  opacity: 0.5;
}

.page-item__link--disabled {
  color: white;
  opacity: 0.5;
  text-decoration: underline;
}
