.video-card {
  background-color: rgba($gray-600, 0.3);
  border-radius: 20px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: white;
  height: auto;
  padding: 0 20px;
  width: 300px;
}

.video-card__image {
  background-position: center;
  background-size: cover;
  clip-path: inset(24px 0px);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.video-card__title {
  font-weight: 800;
}

.video-card__container--text {
  display: flex;
  flex-direction: column;
}

.video-card__text {
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.video-card__text--md5 {
  color: white;
  font-size: 0.7rem;
}

.pagination-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.pagination-nav__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.page-item__link {
  color: white;
}

.page-item__link:hover {
  opacity: 0.5;
}

.page-item__link--disabled {
  color: white;
  opacity: 0.5;
  text-decoration: underline;
}
